@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Custom base styles */
/* @layer base {
  body {
    @apply text-darktext;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-secondary;
  }
} */